@using TDEECalc.ViewModels
@using TDEECalc.Controllers
@model AddLoserViewModel

@if (HomeController.loserList.Count > 0)
{

    <h1>Enter your information</h1>
    <div class="makeColumn">
        <form method="post" asp-controller="Home" asp-action="Index">
            <div>
                <label asp-for="Age">Age</label><br />
                <input asp-for="Age" type="number" value="@HomeController.newLoser.Age" />
            </div>
            <div>
                <label asp-for="Sex">Sex</label><br />
                <select asp-for="Sex" asp-items="Model.SexTypes"></select>
            </div>
            <div>
                <label asp-for="Height">Height</label><br />
                <input asp-for="Height" value="@HomeController.newLoser.Height" type="text" />
            </div>
            <div>
                <label asp-for="StartingWeight">Starting Weight</label><br />
                <input asp-for="StartingWeight" value="@HomeController.newLoser.StartingWeight" type="text" />
            </div>
            <div>
                <label asp-for="CurrentWeight">Current Weight</label><br />
                <input asp-for="CurrentWeight" value="@HomeController.newLoser.CurrentWeight" type="text" />
            </div>
            <label asp-for="CurrentActivityLevel">Current Activity Level</label><br />
            <select asp-for="CurrentActivityLevel" asp-items="Model.ActivityTypes"></select>
            <div>
                <label asp-for="TargetWeight">Target Weight</label><br />
                <input asp-for="TargetWeight" value="@HomeController.newLoser.TargetWeight" type="text" />
            </div>
            <div>
                <label asp-for="TargetActivityLevel">Target Activity Level</label><br />
                <select asp-for="TargetActivityLevel" asp-items="Model.ActivityTypes"></select>
            </div>
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>

}
